/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
}
/* 2. Remove default margin */
* {
    margin: 0;
}
  
body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}
/* 5. Improve media defaults */
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
/* 6. Inherit fonts for form controls */
input, button, textarea, select {
    font: inherit;
}
/* 7. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}
/*9. Create a root stacking context*/
#root, #__next {
    isolation: isolate;
}

body {
    display: grid;
    grid-template: 1fr / 400px 1fr;
    min-height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

section {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-direction: column;
    background-color: cyan;
    font-size: 2rem;
    justify-content: space-around;
}

section > header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

section > header > div {
    height: 100px;
    width: 100px;
    background-image: url(img/logo.svg);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 10px; 
    border-radius: 10px;
}

.status {
    list-style: none;
}

main {
    grid-area: 1 / 2 / 2 / 3;
    display: flex;
    flex-direction: column;
    background-color: black;
}

.add-btn {
    height: 80px;
    width: 80px;
    background-image: url(img/add.svg);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 25%;
    border: 4px solid gold;
    margin: 20px;
    align-self: center;
}

.add-btn:hover {
    cursor: pointer;
    background-color: gold;
    box-shadow: 0px 3px 15px 2px gold;
}

.book-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(235px, 1fr));
    gap: 25px;
    margin: 20px;
}

.book-icon {
    border: 3px solid gold;
    border-top: 35px solid gold;
    border-radius: 12px;
    padding: 20px;
    background-color:  rgba(129, 120, 120, 0.478);
    transition: all 0.5s ease-in-out;
}

.book-icon > .status-btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid gold;
    text-align: center;
    margin-right: 32px;
    margin-top: 12px;
    background-color: green;
    color: white;
    font-size: 25px;
    cursor: pointer;
}

.book-icon > .status-btn:hover {
    background-color: darkgoldenrod;
    box-shadow: 0px 3px 15px 2px darkgoldenrod ;
    color: green;
    font-weight: bold;
}

.book-icon > .delete-btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 3px solid rgb(252, 95, 95);
    text-align: center;
    margin-left: 32px;
    margin-top: 12px;
    background-color: rgb(26, 26, 26);
    color: rgb(252, 95, 95);
    font-size: 25px;
    cursor: pointer;
}

.book-icon > .delete-btn:hover {
    background-color: darkred;
    box-shadow: 0px 3px 15px 2px rgb(252, 95, 95) ;
    color: rgb(252, 95, 95);
    font-weight: bold;
}

.modal-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.3);
    pointer-events: none;
    transition: opacity 0.3s ease;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;   
}

.modal-box.show {
    opacity: 1;
    pointer-events: auto;
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(26, 26, 26);
    color: white;
    border: 4px solid rgb(95, 252, 239);
    border-radius: 12px;
    padding: 2rem 3.2rem;
    height: 32rem;
    width: 25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    max-width: 100%;
}

.modal > h1 {
    font-size: 2rem;
}

.modal > input {
    padding-left: 20px;
    width: 90%;
    height: 2.5rem;
    background-color: rgb(26, 26, 26);
    color: white;
    border: 3px solid rgba(95, 252, 239, 0.5);
    border-radius: 12px;
    font-size: 1.75rem;
}

.btns {
    display: flex;
    gap: 1.25rem;
}

.btns > button {
    height: 4rem;
    width: 8rem;
    background-color: rgb(26, 26, 26);
    border-radius: 12px;
    font-size: 1.75rem;
}

.btns > #close {
    border: 3px solid rgb(252, 95, 95);
    color: rgb(252, 95, 95);
}

.btns > #close:hover {
    background-color: rgb(252, 95, 95);
    color: rgb(26, 26, 26);
    cursor: pointer;
    font-weight: bold;
}

.btns > #submit {
    border: 3px solid rgb(95, 252, 239);
    color: rgb(95, 252, 239);
}

.btns > #submit:hover {
    background-color: rgb(26, 26, 26);
    color: rgb(26, 26, 26);
    cursor: pointer;
    font-weight: bold;
}